*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  
  
}

.container{
  width: 400px;
  height: min-content;
  background-image: linear-gradient(#4933e9c8,#0b0e4ddd);
  border-radius: 12px;
  padding: 28px;
}

.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input{
  width: 84%;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  background-color: #4fcdffa6;
  padding: 12px 16px;
  border-radius: 14px;
}
.search-box input:hover{
  background-color:  #57f7ff;
  transition: 1s;
  color: black;
}
.search-box input::placeholder{
  color: #000000;
}
.search-box input::placeholder:hover{
  text-transform: none;
}
.search-box button{
  width: 46px;
  height: 46px;
  background-color: #4fcdffa8;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.search-box button:hover{
 
  background-color: #57f7ff;
  transition: 1s;
}

.weather-body{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  display: none;
}
.weather-body img{
  width: 60%;
}

.weather-box{
  margin-block: 20px;
  text-align: center;
}

.weather-box .temperature{
  font-size: 40px;
  font-weight: 800;
  position: relative;
  color: white;
}

.weather-box .temperature sup{
  font-size: 20px;
  position: absolute;
  font-weight: 600;
  
}

.weather-box .description{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}

.weather-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidity, .wind{
  display: flex;
  align-items: center;
}

.humidity{
  color: white;
  margin-left: 20px;
}

.wind{
  color: white;
  margin-right: 20px;
}

.weather-details i{
  color: white;
  font-size: 36px;
}

.weather-details .text{
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

.text span{
  font-size: 20px;
  font-weight: 700;
}

.location-not-found{
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-not-found h1{
  font-size: 20px;
  color: #ffffff;
  margin-block-end: 15px;
}
.location-not-found img{
  width: 80%;
}